
aclocal.m4
autom4te.cache/
bin/dbs
bin/dbs32
bin/dbs32.exe
bin/dema
bin/demcut
bin/demcut32
bin/demcut32.exe
bin/demcut.exe
bin/demcutm.exe
bin/dm2cat
bin/lmpc
bin/lmpc32
bin/lmpc32.exe
bin/lmpc.exe
bin/lmpcm.exe
bin/Makefile
bin/Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/index.html
doc/indexpart.html
doc/lmpc.html
doc/lmpc.pdf
doc/lmpc.sgml
doc/lmpc.sgml.in
doc/Makefile
doc/Makefile.in
files/Makefile
files/Makefile.in
install-sh
lmpc-*.tar.gz
Makefile
Makefile.in
missing
README
spec/dem-q1/dem.html
spec/dem-q1/dem.pdf
spec/dem-q1/dem.sgml
spec/dem-q1/dem.sgml.in
spec/dem-q1/index.html
spec/dem-q1/indexpart.html
spec/dem-q1/Makefile
spec/dem-q1/Makefile.in
spec/dm2-q2/dm2.html
spec/dm2-q2/dm2.pdf
spec/dm2-q2/dm2.sgml
spec/dm2-q2/dm2.sgml.in
spec/dm2-q2/index.html
spec/dm2-q2/indexpart.html
spec/dm2-q2/Makefile
spec/dm2-q2/Makefile.in
spec/dmo-dn/dmo.html
spec/dmo-dn/dmo.pdf
spec/dmo-dn/dmo.sgml
spec/dmo-dn/dmo.sgml.in
spec/dmo-dn/index.html
spec/dmo-dn/indexpart.html
spec/dmo-dn/Makefile
spec/dmo-dn/Makefile.in
spec/faq/faq.html
spec/faq/faq.pdf
spec/faq/faq.sgml
spec/faq/faq.sgml.in
spec/faq/index.html
spec/faq/indexpart.html
spec/faq/Makefile
spec/faq/Makefile.in
spec/icons/Makefile
spec/icons/Makefile.in
spec/lmp-d1/index.html
spec/lmp-d1/indexpart.html
spec/lmp-d1/lmp.html
spec/lmp-d1/lmp.pdf
spec/lmp-d1/lmp.sgml
spec/lmp-d1/lmp.sgml.in
spec/lmp-d1/Makefile
spec/lmp-d1/Makefile.in
spec/main/index.html
spec/main/Makefile
spec/main/Makefile.in
spec/Makefile
spec/Makefile.in
spec/misc/cd.html
spec/misc/cd.txt
spec/misc/ers
spec/misc/ers.html
spec/misc/index.html
spec/misc/indexpart.html
spec/misc/Makefile
spec/misc/Makefile.in
spec/misc/misc.sgml
spec/misc/misc.sgml.in
spec/misc/mulder
spec/misc/mulder.html
spec/misc/procdm2.html
spec/misc/procdm2.pl
spec/misc/qfont.html
spec/misc/qfont.txt
spec/misc/win32.html
spec/qwd-qw/index.html
spec/qwd-qw/indexpart.html
spec/qwd-qw/Makefile
spec/qwd-qw/Makefile.in
spec/qwd-qw/qwd.html
spec/qwd-qw/qwd.pdf
spec/qwd-qw/qwd.sgml
spec/qwd-qw/qwd.sgml.in
src/binblock.o
src/dbs
src/dbs.o
src/demcut
src/demcut.o
src/demotextl.c
src/demotextl.o
src/demotexty.c
src/demotexty.h
src/demotexty.o
src/.deps/
src/java/com/machinima/lmpc/io/base/Makefile.in
src/java/com/machinima/lmpc/io/bin/Makefile.in
src/java/com/machinima/lmpc/io/Makefile.in
src/java/com/machinima/lmpc/io/node/Makefile.in
src/java/com/machinima/lmpc/io/text/Makefile.in
src/java/com/machinima/lmpc/Makefile.in
src/java/com/machinima/Makefile.in
src/java/com/Makefile.in
src/java/Makefile.in
src/libutil.a
src/lmpc
src/lmpc.o
src/lzw.o
src/Makefile
src/Makefile.in
src/node.o
src/quake3/add.o
src/quake3/.deps/
src/quake3/huffman.o
src/quake3/libquake3.a
src/quake3/Makefile
src/quake3/Makefile.in
src/quake3/msg.o
src/record.o
src/tokenlist
src/tokenlist.tmp
src/tools.o
src/udeml.c
src/udeml.l
src/udeml.o
src/udem.o
src/udemy.c
src/udemy.h
src/udemy.o
src/udemy.y
src/udm2.o
src/udm2-te1.c
src/udm2-te2.c
src/udm2-te3.c
src/udm3.o
src/udmo.o
src/ulmp.o
src/unlzw.o
src/uqwd.o
stamp-h
stamp-h1
systems/
ylwrap
